<%= form_for Idea.new, :html => {  :class => "form-stacked" } do |i| %>
	<div class="clearfix validation-container">
		<%= i.label :name, "Give your idea a name" %>
		<%= i.text_field :name %>
	
	</div>
	<div class="clearfix validation-container">
		<%= i.label :description, "Describe your idea" %>
		<%= i.text_area :description, :rows => 10 %>
	</div>

	<%= i.submit "Add", :class => "btn primary" %>

<% end %>

