
<div class="row">
	<div class="span12">
		<h2 class="top-vertical-margin">My Idea</h2>
		
		<%if flash[:isNew] == "true" then %>
			<div class="alert alert-info">
				<a class="close" data-dismiss="alert">&times;</a>
				You have just created an idea on Pindea! To get feedback, you can do the following.
				<ul>
					<li>Use the Facebook Like button to share this link on your News Feed.</li>
					<li>Use the Facebook Send button to share this link with only selected friends.</li>
					<li>Copy this URL in your address bar and send the URL through email or text message.
				</ul>
			</div>
		<% end %>	
		<div id="learn-about-idea-link-container">
			<a id="learn-about-idea-link" data-toggle="modal" href="#idea-help-modal">Click here to learn about this page.</a>
		</div>
		<div class="idea-container">
			<%= @idea.name %>
			</br>
			<%= @idea.description %>
		</div>
	<fb:like send="true" width="450" show_faces="false"></fb:like>
	</div>
</div>

<div class="row">
	<div id="good-idea-column" class="span4 idea-column">
		<h3 class="vertical-margins">Good because...</h3>		
		<%= render :partial =>  'points', :locals => { :point_name => "good" } %>		
	</div>
	<div id="bad-idea-column" class="span4 idea-column">
		<h3 class="vertical-margins">Bad because...</h3>
		<%= render :partial =>  'points', :locals => { :point_name => "bad" } %>
	</div>		
	<div id="consideration-idea-column" class="span4 idea-column">
		<h3 class="vertical-margins">Consider...</h3>
		<%= render :partial =>  'points', :locals => { :point_name => "consideration" } %>	
	</div>

</div>

<div id="idea-help-modal" class="modal hide fade in" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
