
<div class="grid_12">
	<div class="idea-container">
		<%= @idea.name %>
		</br>
		<%= @idea.description %>
	</div>
</div>
<div class="clear"></div>
<div class="grid_4">
	<h2>Good</h2>
	 <%= render :partial =>  'points', :locals => { :point_name => "good" } %>
</div>
<div class="grid_4">
	<h2>Bad</h2>
	<%= render :partial =>  'points', :locals => { :point_name => "bad" } %>
</div>		
<div class="grid_4">
	<h2>Consider This</h2>
	 <%= render :partial =>  'points', :locals => { :point_name => "consideration" } %>		
</div>
