<h1>Listing ideas</h1>

<table id="ideas-admin-table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
	<td><%= idea.name %></td>
	<td><%= idea.description %></td>
    <td><%= link_to 'Show', idea %></td>
    <td><!-- <%= link_to 'Edit', edit_ideas_admin_path(idea) %> --></td>
    <td><%= link_to 'Destroy', destroy_ideas_admin_path(idea), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Idea', new_ideas_admin_path %>
