<!DOCTYPE html>
<html>
	<head>
	  <title>Fantadea</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <script type="text/javascript">
		$(document).ready( function() { fantadea.initializeController("<%=controller.controller_name.camelize%>"); }); 
	  </script>
	<!-- The following is to get the sticky footer to work in IE 8 and greater -->
	<!--[if !IE 7]>
		<style type="text/css">
			#layout-body-wrapper {display:table;height:100%}
		</style>
	<![endif]-->
	
	</head>
	<body>
		<div id="layout-body-wrapper">
			<div id="body">

					<h1 class="site-header"> 
						F a n t a d e a
					</h1>

				<%= yield %>
			</div>
		</div>
		<div id="footer">Copyright Fantadea.com</div>		
	</body>
</html>
