<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
	  <title>Fantadea</title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>

	<%= render :partial => "layouts/document-ready" %>
	<!-- The following is to get the sticky footer to work in IE 8 and greater -->
	<!--[if !IE 7]>
		<style type="text/css">
			#layout-body-wrapper {display:table;height:100%}
		</style>
	<![endif]-->
	
	</head>
	<body>
		<div id="fb-root"></div>		
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '160913350693857', // App ID
		      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });

		    // Additional initialization code here
		  };

		  // Load the SDK Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		</script>	
		<div id="layout-body-wrapper">
			<div id="body">
				<div id="header">
					<div class="container_12">
						<div class="grid_4">  
							<h1>
								<a href="/">F a n t a d e a</a>
							</h1> 
						</div>
						<div class="grid_8">
							<div id="search-area">
								<%= render :partial => "/ideas/search" %>
							</div>
						</div>
					</div>
				</div>
				
				<div id="content" class="container_12"	>
						<%= yield %>
				</div>
			</div>
		</div>
		<div id="footer">Copyright Fantadea.com</div>		
	</body>
</html>
