<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<title><%= Settings.product_name %></title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
		<meta property="og:site_name" content="site-test">
		<meta property="og:title" content="title-test">
		<meta property="og:image" content="/assets/idea_example.jpg">
		<meta property="og:type" content="article">
		<meta property="og:url" content="http://stark-fire-4840.herokuapp.com/">
		<meta property="fb:app_id" content="160913350693857">
		<%= render :partial => "layouts/document-ready" %>
		<!-- The following is to get the sticky footer to work in IE 8 and greater -->
		<!--[if !IE 7]>
			<style type="text/css">
				#layout-body-wrapper {display:table;height:100%}
			</style>
		<![endif]-->
	
	</head>
	<body>
		<div id="fb-root"></div>		
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '160913350693857', // App ID
		      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });

		    // Additional initialization code here
		  };

		  // Load the SDK Asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		</script>	
		<div id="layout-body-wrapper">
			<div id="body">
				<div id="header">
					<div class="container">
						<div class="row">
							<div class="span4">  
								<h1>
									<a href="/" class="auto-ajax"><%= Settings.product_name.gsub(/(.{1})/, '\1 ') %></a>
								</h1> 
							</div>
							<div class="span8">
								<div id="search-area">
									<%= render :partial => "/ideas/search" %>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div id="content" class="container">
						<%= yield %>
				</div>
				<!-- Below needed so FB Send dialog space doesn't get cut off -->
				<br /><br />
			</div>
		</div>
		<div id="footer">Copyright <%= Settings.product_name %>.com</div>		
	</body>
</html>
